body {
	margin: 0;
	font-family: Lato, sans-serif;
}

#header {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("res/cs230header.gif");
	background-size: cover;
	background-position: center center;
	padding-top: 6em;
	margin-bottom: 2em;
	min-height: 250px;
}

#header h2 {
	text-align: center;
	color: rgba(255, 255, 255, 1);
	font-weight: 100;
	font-size: 22pt;
}

.forms h3 {
	text-align: center;
	background-color: green;
	line-height: 2;
}

.forms form {
	float: left;
	margin-left: 50px;
	margin-right: 100px;
}

.forms .results {
	margin-right: 100px;
	padding-bottom: 0;
}

.forms .fin-res {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.stop-float {
	clear: both;
}

#form5 {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

#form5 h3 {
	width: 100%;
}

#form5 p {
	text-align: center;
}

#main-footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 40px;
}

#main-footer a:visited {
	color: white;
}

#main-footer a:hover {
	color: rgb(255, 0, 0);
}

.fixed-button {
	position: fixed;
	top: 600px;
	background-color: rgb(80, 80, 80);
	color: white;
	padding: 10px;
	text-decoration: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/*rounded corner*/
}

.fixed-button:hover {
	text-decoration: underline;
}

.fixed-button:visited {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	/* result text goes to bottom on mobile screen */
	.forms form {
		float: none;
		margin-left: 10px;
		margin-right: 10px;
	}
	.forms .results {
		margin-left: 10px;
		margin-right: 10px;
	}
}